<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/shopping-cart">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Shopping Cart</ion-label>
      </ion-tab-button>
      
      <ion-tab-button routerLink="/apply-loan">
        <ion-icon name="cube"></ion-icon>
        <ion-label>Apply Loan</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/privacy-policy">
        <ion-icon name="lock"></ion-icon>
        <ion-label>Privacy Policy</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/terms">
        <ion-icon name="paper"></ion-icon>
        <ion-label>Terms</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>